---
import Container from '../components/Container.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
let title = "Jesse's Dev Daydream";
let description = 'A humble Astronaut’s guide to the stars of web development.';
let permalink = 'https:essej.dev';
---

<BaseLayout title={title} description={description} permalink={permalink} canonicalURL={Astro.canonicalURL}>
  <Container>
    <h1>Welcome to the Lair where the Players play and where game on them things like everyy day</h1>

    <a href="/blog">Blog →</a>
  </Container>
</BaseLayout>