---
import SanityPortableText from './SanityPortableText.astro'
import { getSanityImageURL, formatBlogPostDate } from '../utils/helpers.js'
import Container from './Container.astro'
export interface Props {
  post: any;
}
const { post } = Astro.props;
---

<style>
  .post-content__article {
    padding: 1rem;
  }

  .post-main__img {
    width: 100%;
    height: auto;
  }
</style>


<Container>
  <article>


    <h1 class="mb-0">{post.title}</h1>
    <time>{formatBlogPostDate(post.publishedAt)}</time>
    {post.author && <p class="my-0">{post.author.name}</p>}
    <div class="text-slate-100 leading-7 font-sans font-medium">
      <SanityPortableText portableText={post.body} />

    </div>
  </article>
</Container>