<nav class="navbar bg-primary text-primary-content font-rubik-mono-one">
  <ul>
    <li><a class="btn btn-ghost normal-case text-xl" href="../">Home</a></li>
    <li><a class="btn btn-ghost normal-case text-xl" href="/blog">Blog</a></li>
  </ul>

</nav>