<nav class="navbar navbar-center flex-1 justify-center bg-primary text-primary-content font-poppins">

  <a class="btn btn-ghost normal-case text-xl" href="../"><img src="../favicon2.ico"></a>
  <a class="btn btn-ghost normal-case text-xl" href="/blog">Blog</a>


</nav>